<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">badges</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Followers</ion-label>
      <ion-button fill="outline" routerLink="/badges/primer-grado">Outline</ion-button>
      <ion-badge color="primary">22k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Likes</ion-label>
      <ion-button fill="outline" routerLink="/badges/segundo-grado.page.html">Outline</ion-button>
      <ion-badge color="secondary">118k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Stars</ion-label>
      <ion-button fill="outline" routerLink="/badges/tercer-grado.page.html">Outline</ion-button>
      <ion-badge color="tertiary">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Completed</ion-label><ion-button fill="outline" routerLink="/badges/completed.page.html">Outline</ion-button>
      <ion-badge color="success">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Warnings</ion-label>
      <ion-button fill="outline" routerLink="/badges/warnings.page.html">Outline</ion-button>
      <ion-badge color="warning">70</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-button fill="outline" routerLink="/badges/notifications.page.html">Outline</ion-button>
      <ion-badge color="danger">1000</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
