<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Componentes en IONIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  
  <ion-list>
    <ion-item>
      <ion-label routerLink="/inicio/buttons" style="cursor: pointer">Buttons</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/inicio/accordion" style="cursor: pointer">Accordion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/inicio/alerts" style="cursor: pointer">Alerts</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/inicio/badges" style="cursor: pointer">Badges</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/inicio/cards" style="cursor: pointer">Cards</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
