<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #oscar="ngForm" (ngSubmit)="login(oscar)">
    
      <ion-item>
        <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingresa tu nombre" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Apellidos" labelPlacement="floating" placeholder="Ingresa tus apellidos" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Ingresa tu ciudad" labelPlacement="floating" placeholder="Ciudad" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input name="email" [(ngModel)]="email" label="Correo electronico" labelPlacement="floating" placeholder="Ingresa tu correo" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input name="password" [(ngModel)]="password" label="Contraseña" labelPlacement="floating" placeholder="Contraseña" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Confirma tu contraseña" labelPlacement="floating" placeholder="Confirma contraseña"
          required></ion-input>
      </ion-item>

      <ion-button type="submit">
        Registro
      </ion-button>
    
  </form>
  
</ion-content>
